Requirements
============
1. all dependencies in environment.yml (will be installed via deploy.py)

2. ec2 medium instance (or more powerful instance) using Anaconda with Python 3 AMI
 
3. configure git

4. Set inbound security rules in AWS to allow port 80 traffic

5. Please make sure ec2 instance has .aws folder located in /home/ec2-user and has file called credentials in /home/ec2-user/.aws . Because ARMR's models are
stored and versioned in S3 with public access, you must have AWS credentials present on server so aws cli in ARMR's conda environment
can pull model from public S3 bucket. The credential file must be formatted in the following way:

[default]

aws_access_key_id = <aws_access_key_id>

aws_secret_access_key = <aws_secret_access_key>

Following these requirements will allow the deploy.py script to function properly.