{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ARMR
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
    .container {
      width: 20vw;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 10px;
      border-color: rgba(128,128,128);
    }
</style>

<div align="center">
    <figure class="figure">
    <img src={{ url_for('static', filename='logo2.png') }} class="figure-img img-fluid img-rounded">
    </figure>

    <h1>Audio Recorded Medical Record</h1>
</div>
<br>

{% if not current_user.is_authenticated %}
<div class="container" style="border-width: thin;">
    <form method="POST">
        <br>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <center>{{ wtf.form_field(form.submit)}}</center>
    </form>
    <br>
    <center><a href="{{url_for('register')}}">Create new account</a></center>
    <br>
</div>
{% else %}
    <center><h4>{{ current_user.username }}</h4></center>
    <p>
    <center><a href="/logout" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></center>
{% endif %}

{% endblock %}


