{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <h2>Login</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <center> {{ wtf.form_field(form.submit)}} </center>
    </form>
</br>
<center> Don't have an account? <a href="mailto:dwoodbridge@usfca.edu?Subject=Project%20X%20Registration" target="_top"> Please contact Diane.</a> </center>
</div> <!-- /container -->
{% endblock %}
