<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
      </li>
        <li class="nav-item">
      <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ current_user.username }}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="logout">Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link active" href="/">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
