<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
      </li>
        <li class="nav-item">
      <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
          <a class="nav-link active" href="/">Login</a>
      </li>
    </ul>
  </div>
</nav>
