{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<style>
    .container {
      width: 50vw;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 10px;
      border-color: rgba(128,128,128);
    }
</style>

<center><h2>Create New Account</h2></center>
<div class="container">
    <br>
    <form method="POST"> <!-- post : handle submission -->
        {{ form.hidden_tag() }}    
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password_confirmation) }}
        <center> {{ wtf.form_field(form.submit)}} </center>
    </form>
    <br>
    <center> Already have an account? <a href="/">Log in</a> </center>
    <br>
</div> <!-- /container -->
{% endblock %}
